@tailwind base;
@tailwind components;
@tailwind utilities;


.header {
  @apply bg-primary flex justify-center w-full;
}

.footer {
  @apply bg-gradient-to-r from-violet-600 to-indigo-600;
}

.h2 {
  @apply text-2xl p-2 text-white pb-4 mb-4 flex justify-center;
}

.group-input {
  @apply flex flex-col justify-center items-start my-2 w-full;
}

.layout {
  @apply flex flex-col justify-center items-center min-h-screen bg-primary;
}

.main {
  @apply flex flex-col justify-center items-center flex-grow  w-full;
}

.login-card {
  @apply  bg-opacity-65 backdrop-blur-md rounded-xl w-3/4 md:w-2/5 lg:w-2/5 2xl:w-1/5 pt-8 pb-4 pl-8 pr-8;
}

.login-form {
  @apply flex flex-col justify-center items-start;
}

.label {
  @apply my-1 text-lg text-white;
}

.input {
  @apply p-2 text-start text-secondary border-2 border-gray-600 rounded-xl w-full bg-thirty;
}

.btn-send{
  @apply py-2 px-4 my-4 text-primary rounded-md bg-lime-500 hover:bg-greenChat  transition ease-out duration-200 inline-block mx-auto w-full;
}

.notification-success {
  @apply flex flex-col justify-start items-center text-black text-sm bg-lime-300 rounded-md p-2 w-full transition-all ease-out  duration-200;
}

.notification-error {
  @apply flex flex-col justify-start items-center text-white text-sm bg-red-600 rounded-md p-2 w-full transition-all ease-out  duration-200;
}

.panel {
  @apply bg-primary;
}